page-login {

}
.match-parent{
  width:100% !important;
  // height: 35px !important;
}
#signup{
  color:grey !important;
}
#signup:hover{
  color:black !important;
}
.toolbar-content{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.toolbar-content *{
  box-shadow:none;
}
.toolbar-content *:active{
  box-shadow:none;
}
// ion-toast{
//  padding:10px !important;
// }
