<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input [(ngModel)]="username" name="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="password" name="Confirm-password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm-password</ion-label>
        <ion-input [(ngModel)]="confirmPassword" name="confirm-assword" type="password"></ion-input>
      </ion-item>
      <ion-item text-center no-lines>
        <button class="match-parent" ion-button color="dark" (click)="signUp()"><ion-spinner *ngIf = "auth.isSigningUp" name="ios-small"></ion-spinner>
      <span *ngIf = "!auth.isSigningUp">Signup</span></button>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
